<div class="register-form">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Create Account</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-grid-list cols="2" rowHeight="100px">
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile colspan="2"></mat-grid-tile>
                <mat-grid-tile colspan="2"></mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</div>

<div class="library-info" *ngIf="false">
    <h1>INFORMATION</h1>
    <mat-list>
        <mat-list-item>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur minus dolorum veritatis. Accusamus dolorum odit animi fugit sequi saepe optio quaerat. Placeat rerum saepe ea dicta repudiandae at ex hic.
            </p>
        </mat-list-item>

        <mat-list-item>
            <p>
                Another one Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur minus dolorum veritatis. Accusamus dolorum odit animi fugit sequi saepe optio quaerat. Placeat rerum saepe ea dicta repudiandae at ex hic.
            </p>
        </mat-list-item>
    </mat-list>
</div>
